<a href="https://colab.research.google.com/github/Sephiroth727/Eighth-checkpoint/blob/main/Copie_de_Python_error_types_checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Rectify the code in each cell and **explain the error in comments**

### index error

In [ ]:
mylist=[14, "hello", 967]
mylist[:3]

[14, 'hello', 967]

In [ ]:
import pandas
import Numpy 
#we have to download those libraries first

ModuleNotFoundError: ignored

# syntax error

In [ ]:
print("python errors")

python errors

# key error

In [ ]:
mydictionnary={True:"hello",False:"bye", '3':"python"}
mydictionnary[True]
#True isn't a string so we don't have to add '' to write True in

'hello'

# indentation error

In [ ]:
i=14
while i<78:
  print(i)
  i+=1
#we have to leave a space when we use loops

14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77

# StopIteration

In [ ]:

it=iter([1,2,3])
next(it)
next(it)
next(it)
#we have just three variables in our list we can't call the next function more than three times

3

# TypeError

In [ ]:
15+15
#we can't do an addition between a string and integer

30

# ValueError

In [ ]:
int('15')
# we can't turn a word into an integer but with numbers we can

15

# NameError

In [ ]:
python='the easiest coding language to learn'
#we have to define what's pyton

# ZeroDivisionError

In [ ]:
x=19/3
print(x)
#we can't devise a number by zero

6.333333333333333